.doctor-infor-container {
    height: 500px;

    .doctor-introduction {
        display  : flex;
        gap      : 15px;
        // border: 1px solid #cccccc;
        padding  : 22px 100px;

        .content-left {
            width: 25%;

            background     : center center no-repeat;
            width          : 120px;
            height         : 120px;
            border-radius  : 50%;
            background-size: cover;
        }

        .content-right {
            width: 75%;

            .position {
                font-weight   : 700;
                font-size     : 22px;
                padding-bottom: 3px;
            }
        }
    }

    .medical-examination-schedule {
        //margin    : 0px 100px;
        min-height: 150px;
        width     : 100%;
        display   : flex;
        padding   : 0px 100px;

        .content-left {
            //border: 1px solid red;
            width: 50%;
        }

        .content-right {

            width: 50%;
        }


    }

    .doctor-information {
        padding-top     : 16px;
        padding-left    : 38px;
        background-color: #f9f9f9;
        padding         : 22px 100px;
        border          : 1px solid #ddd;
    }

    .medical-examination-feedback {
        height: 50px;

    }
}