.background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    display: flex;

    justify-content: center;
    align-items: center;

    .content-up {

        border-radius: 10px;
        background-color: white;
        width: 350px;
        height: 340px;
        box-shadow: 11px 8px 14px 4px #89bd7b;

        .body {
            .title-change-password {
                font-weight     : 600;
                font-size       : 20px;
                padding: 6px 2px;
            }
          
        }
       
    }
}