.topnav {
    overflow      : hidden;
    display       : flex;
    margin-top    : -5px;
    flex-direction: column;
    transition    : width 10s ease-out 5s;
    background    : white;
    margin-left   : -29px;
    height        : 100vh;

    a {
        border: 1px solid #eeeeee;
        width : 210px;
        color : #6ccfdb;

        padding        : 14px 16px;
        padding-left   : 10px;
        padding-bottom : 1px;
        text-decoration: none;
        font-size      : 20px;
        position       : relative;

        &:after {
            content         : '';
            position        : absolute;
            width           : 100%;
            transform       : scaleX(0);
            height          : 2px;
            bottom          : 0;
            left            : 0;
            background-color: #f9d800;
            transform-origin: bottom right;
            transition      : transform 0.25s ease-out;
        }

        &:hover {

            color: #f9d800;

            &:after {
                transform       : scaleX(1);
                transform-origin: bottom left;
            }
        }


    }
}